<ion-view class='bg-grey'>
    <ion-nav-title>
        <div class='color-yellow text-center'>Costos de membresía</div>
    </ion-nav-title>
    <ion-content>
        <div class='h-100-p'>

            <div id="location"></div>

            <div class="row" style="text-align: center;display: inline-block; margin-top: 40px;color: #FFF;">
                <label style="font-size: 25px !important;">{{message.data}}</label>
            </div>
            <div id="map" data-tap-disabled="true"></div>
            <div class='color-white text-center net-error'>{{ 'No network connection!' | langTranslate: appConvertedLang['No_network_connection'] }}</div>
        </div>
    </ion-content>
</ion-view>